{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
  變更密碼 - Django 大冒險
{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">變更密碼</h2>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}  

            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">變更密碼</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}