{% extends "base.html" %}

{% block title %}
  密碼重設信已寄出 - Django 大冒險
{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="alert alert-info">
        <h4 class="alert-heading">密碼重設信已寄出</h4>
        <p>我們已經將密碼重設連結寄送到你的電子郵件地址。</p>
        <p>請檢查你的信箱，並點擊連結來重設密碼。</p>
        <hr />
        <p class="mb-0 text-muted">
          <small>
            如果沒有收到信件，請檢查垃圾郵件匣。
          </small>
        </p>
      </div>
    </div>
  </div>
{% endblock content %}