{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
  註冊 - Django 大冒險
{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">註冊</h2>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}

            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">註冊</button>
            </div>
          </form>

          <hr />

          <p class="text-center mb-0">
            已經有帳號？<a href="{% url 'auth:login' %}">立即登入</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}