{% extends "blog/base.html" %}

{% load django_bootstrap5 %}

{% block title %}
  建立文章 - Django 大冒險
{% endblock title %}

{% block blog_content %}
  <div class="card">
    <div class="card-body">
      <h2 class="card-title mb-4">
        建立文章
      </h2>
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-flex gap-2 mt-3">
          {% bootstrap_button button_type="submit" content="建立文章" %}
          {% bootstrap_button button_type="reset" content="清除內容" button_class="btn-info" %}

          {% url 'blog:article_list' as cancel_url %}  
          {% bootstrap_button button_type="link" href=cancel_url content="取消" button_class="btn-secondary" %}
        </div>
      </form>
    </div>
  </div>
{% endblock blog_content %}