{% extends "blog/base.html" %}

{% load django_bootstrap5 %}

{% block title %}
  編輯文章：{{ article.title }} - Django 大冒險
{% endblock title %}

{% block blog_content %}
  <nav aria-label="breadcrumb" class="d-none d-md-block mb-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'blog:article_list' %}">文章列表</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'blog:article_detail' id=article.id %}">{{ article.title }}</a>
      </li>
      <li class="breadcrumb-item active">
        編輯
      </li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body">
      <h2 class="card-title mb-4">
        編輯文章
      </h2>

      {% bootstrap_form_errors form type='non_fields' %}
      {% comment %} 新寫法 {% endcomment %}
      {% url 'blog:article_detail' id=article.id as cancel_url %}
      {% include "blog/components/article_form.html" with submit_text="儲存變更" show_reset=False %}
      {% comment %} <form method="post">
        {% csrf_token %}

        {% bootstrap_field form.title addon_before='<i class="bi bi-pencil"></i>' placeholder="請輸入標題..." %}

        {% bootstrap_field form.content addon_before='<i class="bi bi-file-text"></i>' rows=10 %}

        {% bootstrap_field form.author addon_before='<i class="bi bi-person"></i>' %}

        <div class="d-flex gap-2 mt-3">
          {% bootstrap_button button_type="submit" content="儲存變更" %}

          {% url 'blog:article_detail' id=article.id as cancel_url %}
          {% bootstrap_button button_type="link" href=cancel_url content="取消" button_class="btn-secondary" %}
        </div>
      </form> {% endcomment %}
    </div>
  </div>
{% endblock blog_content %}
